# Exchange

EXCHANGE=binance

API_KEY=

API_SECRET=

# Telegram

TELEGRAM_ENABLED=false

TELEGRAM_TOKEN=

TELEGRAM_CHAT_ID=

# Trading

SYMBOL=BTC/USDT

TIMEFRAME=1h

POSITION_SIZE=10

STOP_LOSS=1.5

TAKE_PROFIT=2.5
